@charset "UTF-8";

* { /* Configurações Globais em CSS */
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to bottom, #88E8F2, #0A6ABF);
    background-attachment: fixed;
}
 main {
     background-color: white;
     width: 600px;
     padding: 10px;
     margin: auto;
     border-radius: 10px;
     box-shadow: 5px 5px 15px #03182b94;
 }
 
 h1 {
     color: #0A6ABF;
     text-align: center;
     text-shadow: 1px 1px 2px #05294985;
 }

 h2 {
     color: #35BDF2;
 }

 p {
    text-align: justify;
 }